<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Questions</title>
  <link rel='stylesheet' href='styles.css'>
</head>
<body>
	<h2>Answer!</h2>
	<p class='answer'>
    <span><%= answer[0] %></span>
    <span><%= answer[1] %></span><br /><br />
  	</p>
</body>
</html>
